.icon {
  background: $color-gradient-text;
  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;
}

.icon-box {
  font-size: 1.125rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.case-item {
  display: flex;

  & > * {
    min-width: 0;
  }

  i {
    font-size: 2.5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-right: 1.5rem;
  }
}

.case-details {
  -webkit-box-flex: 1;
  flex: 1;

  h3 {
    font-size: 1.125rem;

    margin-bottom: 0.75rem;
  }

  p {
    margin-bottom: 0;
  }
}

.icon-group {
  font-size: 0.875rem;

  display: flex;
  align-items: center;

  margin-bottom: 1.75rem;

  color: $color-heading;

  & > * {
    min-width: 0;
  }

  .icon-text {
    -webkit-box-flex: 1;
    flex: 1;

    .overhead {
      font-size: 0.75rem;
      font-weight: 400;

      display: block;

      text-transform: uppercase;

      opacity: 0.7;
      color: $color-paragraph;
    }

    a,
    p {
      margin-bottom: 0;

      text-decoration: none;

      color: $color-heading;

      -webkit-text-fill-color: inherit;
    }
  }
}

@media screen and(max-width: 580px) {
  .icon-box {
    font-size: 1rem;

    width: 2.25rem;
    height: 2.25rem;
  }
}
