$font-family: 'Poppins', sans-serif;
$font-base-size: 15px;
$font-mobile-size: 14px;

$color-bg: #121212;
$color-accent: #FFDB6E;
$color-border: #383838;

$color-heading: #FCFCFC;
$color-paragraph: #D6D6D6;
$color-surface-1: #1E1E1F;
$color-surface-2: #2A2A2B;
$color-surface-3: #202021;

$color-btn: linear-gradient(135deg, rgba(45, 45, 46, 0.25) 0%, rgba(27, 27, 28, 0) 100%), #202021;

$color-gradient-text: linear-gradient(90deg, #FFDB6E, #FFBC5E);
$color-gradient-gray: linear-gradient(137.84deg, #3F3F40 2.69%, #303030 93.75%);
$color-gradient-soft: linear-gradient(135deg, rgba(255, 218, 109, 0.0375) 0%, rgba(255, 189, 94, 0) 100%), #1E1E1F;
$color-gradient-icon: linear-gradient(135deg, rgba(255, 218, 109, 0.25) 0%, rgba(255, 189, 94, 0) 59.86%), #202021;

$color-gradient-border: linear-gradient(155deg, #FFDA6D 0%, rgba(255, 191, 96, 0) 50%);
$color-gradient-border-gray: linear-gradient(135deg, #404040 0%, rgba(64, 64, 64, 0) 48.44%);

$box-shadow-24: -4px 8px 24px rgba(0, 0, 0, 0.25);
$box-shadow-30: 0px 16px 30px rgba(0, 0, 0, 0.25);
$box-shadow-50: 0px 25px 50px rgba(0, 0, 0, 0.15);

$radius-8: 8px;
$radius-12: 12px;
$radius-14: 14px;
$radius-16: 16px;
$radius-20: 20px;
$radius-32: 32px;
