@import "./styles/Scheme.scss";
@import "~bootstrap/scss/bootstrap";
@import "./styles/Badge.scss";
@import "./styles/Carousel.scss";
@import "./styles/Cell.scss";
@import "./styles/Icon.scss";
@import "./styles/Masonry.scss";
@import "./styles/Page.scss";
@import "./styles/Timeline.scss";
@import "./styles/Typography.scss";

body {
  font-family: $font-family;
  font-size: $font-base-size;
  line-height: 1.65;

  color: $color-paragraph;
  background-color: $color-bg;
}

.text-overflow {
  display: block;
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: $font-mobile-size !important;
  }
}
